/*styles.css*/
* {
  font-family: 'Tajawal', sans-serif;
}

/*Styles for the header section--------------------------*/
header{
  background-color: #CEE0B3;
  height: 10rem;
}

/*Styles targetting only h1 in header--------------------*/
header h1{
  position: absolute;
  font-size: 35px;
  background-color: #CEE0B3;
  color: #523E35;
}

/*Styles targetting only p in header---------------------*/
header p{
  position: relative;
  float: right;
  padding: 14px 16px;
  text-align: right;
  font-size: 15px;
  background-color: #ECF7D0;
  color: #523E35;
}
header img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  
  position: absolute;
  top: 5%;
  left: 5%;
}

/*Styles targetting only nav in header-------------------*/
nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8CC04B;
}

nav a {
  float: right;
  background-color: #8CC04B;
  transition: all 0.5s ease-out;
  display: block;
  color: #523E35;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

nav a:hover{
  background-color: #523E35;
  color: white;
}
/*-----------------------------------------------------*/

/*Styles for the articles------------------------------*/
.img-slider {
  top: 50px; 
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Sets width of top image on landing page-----------------*/
.img-slider img{
  width: 900px;
}

/*Sets font size, positioning and text color for the mini-about section*/
.mini-about {
  font-size: 20px;
  display: block;
  text-align: justify;
  
  position: relative;
  top: 100px;
  left: 100px;
  
  color: #523E35;
}

/*Sets font size, positioning and text color for the services section*/
.services{
  text-align: justify;
  font-size: 18px;
  display: block;
  
  color: #523E35;
  
  position: relative;
  left: 750px;
  bottom: 300px;
}

/*Sets positioning and text alignment for services section header*/
.services h3 {
  position: relative;
  top: 20px;
  text-align: left;
}

/*Sets size and positioning for image left of the services section*/
.service-image{
  position: relative;
  left: 100px;
  top: 150px;
  
  height: 400px;
  width: 600px;
}

/*Sets font size, positioning and alignment for the classes section*/
.classes {
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  position: absolute;
  top: 1350px;
  left: 100px;
  color: #523E35;
}

/*Sets border, text alignment, text color and background color for the classes table*/
.classes-table {
  display: block;
  
  border: 1px solid #523E35;
  text-align: left;
  background-color: #ECF7D0;
  color: #523E35;
}

.classes-table th {border: 1px solid #523E35;}
.classes-table td {
  border: 1px solid #523E35;
  text-align: center;
}
/*-----------------------------------------------------*/
/*Styles targetting p in footer of index.html------------------------*/
footer {
  position: relative;
  top: 400px;
  background-color: #CEE0B3;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*positions icons in footer----------------------------*/
.icons{
  position: relative;
  top: 10px;
  padding: 10px;
}
.icons a {
  padding: 10px;
  color: #523E35;
}

/*sets position, background color,text color and alignment of index.html footer */
footer p{
  position: relative;
  top: 5px;
  display: block;
  padding: 14px 16px;
  background-color: #8CC04B;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #523E35;
}
/*----------------------------------------------------*/

/*sets position, background color,text color and alignment of about.html footer */
.ab-footer{
  position: relative;
  top: 100px;
  background-color: #CEE0B3;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*sets position, font-size, text color and alignment of nondiscriminatory policy */
.nd-policy {
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  
  top: 400px;
  
  font-size: 12px;
  color: #523E35;
  
}
/*-----------------------------------------*/

/*About.html styles------------------------*/
/*sets styles for about header*/
.about-card {
  color: white;
  background-color: #523E35;
  
  display: block;
  height: 30px;
  width: 120px;
  
  font-size: 35px;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  padding: 14px 16px;
  
  top: 10px;
  
  border-radius: 25px;
  
  position: relative;
}

.about-card p{
  margin-left: auto;
  margin-right: auto;
  color: #523E35;
}

/*Sets styles for three paragraphs in about section on about.html*/
.headline-1{
  position: relative;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #523E35;
}

.headline-2{
  position: relative;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #523E35;
}

.headline-3{
  position: relative;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  color: #523E35;
  
  padding-bottom: 50px; /*To add space between about and instructor sections*/
}

/*Sets instructor section background color and text color*/
.instructor-info{
  background-color: #CEE0B3;
  color: #523E35;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Sets background color, text color and size of instructor header*/
.instructor-card{
  color: white;
  background-color: #523E35;
  
  display: block;
  height: 30px;
  width: 200px;
  
  font-size: 35px;
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  padding: 14px 16px;
  
  top: 10px;
  
  border-radius: 25px;
  
  position: relative;
}

/*Used to keep instructor info all on one row*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/*Below are styles that sets the size, position, and image radius for all the instructors*/
.instructor-1 {
  grid-column: 1;
  grid-row: 1;
}

.instructor-1 img{
  border-radius: 50%;
  width: 220px;
  height: 200px;
  
  position: relative;
  left: 100px;
}

.instructor-1 p{
  text-align: justify;
  position: relative;
  left: 50px;
  
  width: 300px;
}

.instructor-2 {
  grid-column: 2;
  grid-row: 1;
}
.instructor-2 img{
  border-radius: 50%;
  width: 220px;
  height: 200px;
  
  position: relative;
  left: 100px;
}
.instructor-2 p{
  text-align: justify;
  position: relative;
  left: 50px;
  
  width: 300px;
}

.instructor-3 {
  grid-column: 3;
  grid-row: 1;
}
.instructor-3 img{
  border-radius: 50%;
  width: 220px;
  height: 200px;
  
  position: relative;
  left: 100px;
}

.instructor-3 p{
  text-align: justify;
  position: relative;
  left: 50px;
  
  width: 300px;
}